html{
    background-color: #444;
}

body {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

header {
    flex: 0 1 200px;
    background-color: #e5d7cd;
    padding: 15px;
}

main {
    flex: 1;
    padding: 0 15px;
    background-color: white;
}

nav {
    align-self: stretch;
}

.container_about_my {
    display: flex;
    flex-direction: column;
}

.my_photo {
    height: auto;
    margin: 0;
    padding: 0;
}

.my_photo img{
    width: 200px;
    display: block;
    border-radius: 10px;
}

.my_name{
    display: inline-block;
    text-align: left;
    padding: 0 10px;
    min-width: 160px;
}

@media screen and (max-width: 600px) {

    header {
        flex: 1 1 auto;
        text-align: center;
    }

    body {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 10px 0 0 0;
        justify-content: space-around;
    }

    .container_about_my {
        flex-direction: row;
        justify-content: center;
    }

    .my_photo img {
        width:120px;
    }

}

main img {
    width: 100px;
    transition: transform .2s;
}
main img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}